<!-- Slider main container -->
<div class="swiper">
  <!-- Additional required wrapper -->
  <div class="swiper-wrapper">
    <!-- Slides -->
    <div class="swiper-slide" style="background-image: url(/images/images/pexels-mart-production-8433588.jpg);">Slide 1
    </div>
    <div class="swiper-slide"
      style="background-image: url(/images/images/pexels-luis-quintero-14525660.jpg); background-position: center; ">
      Slide 2</div>
    <div class="swiper-slide" style="background-image: url(/images/images/pexels-cottonbro-studio-9499139.jpg);">Slide 3
    </div>
    <div class="swiper-slide" style="background-image: url(/images/images/pexels-filiz-yıldız-13912032.jpg );">Slide 3
    </div>

  </div>


  <!-- If we need pagination -->
  <div class="swiper-pagination"></div>

  <!-- If we need navigation buttons -->
  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>

</div>





<h1>nandhu</h1>
<h1>nandhu</h1>

<h1>nandhu</h1>


<h1>nandhu</h1>

<h1>nandhu</h1>

<h1>nandhu</h1>






<h1>nandhu</h1>

<h1><a href="/all_products">ALL PRODUCTS</a></h1>


<h1>nandhu</h1>

<h1>nandhu</h1>

<h1>nandhu</h1>

<h1>nandhu</h1>

<h1>nandhu</h1>


<h1>nandhu</h1>

<h1>nandhu</h1>






<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
<script>
  const swiper = new Swiper('.swiper', {
    loop: true,
    speed: 1000,
    effect: "cube",
    grabCursor: true,
    cubeEffect: {
      shadow: true,
      slideShadows: true,
      shadowOffset: 20,
      shadowScale: 0.94,
    },

    navigation: {
      nextEl: '.swiper-button-next',
      prevEl: '.swiper-button-prev',
    },
  })
</script>


