<%- include('userAfterLogin') %>

<div class="container d-flex flex-column justify-content-center align-items-center">
    <img src="images\images\Payment failed png.png" alt="" width="40%" class="img-fluid">
    <p class="pt-1" style="color: red; font-size: 20px;">PAYMENT FAILED</p>
    <button class="btn btn-success mt-3 mb-4"><a href="/my_order"> Continue to order</a></button>
    
</div>
<%- include('userFooter') %>
