<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Login |</title>
	<link rel="icon" href="/images/icon/title logo.png" type="image/icon type">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
	<link rel="stylesheet" href="/stylesheets/login.css">
</head>

<body>
	<div class="spinner-wrapper">
		<img src="/images/icon/login.svg" alt="My Happy SVG" class="spinner-border" />
	</div>
		
		<div class="main" style="height: 100vh;">
		<div class="img-div">
			<h1>Glosho</h1>
		</div>

		<div class="login-form">
			<form action="/reset_password" method="post" id="form-id">
				<h3 style="margin-bottom: 6%;">Enter New password<span style="color: red;">*</span></h3>
				<div class="input">
					<i class="fa-solid fa-lock"></i>
					<input type="password" placeholder="New password" name="password" id="password"
						onkeyup="validatePassword()" />
				</div>
                
                <p class="err" id="error-password" style="color: red;">&nbsp;</p>  
                <div class="input">
					<i class="fa-solid fa-lock"></i>
					<input type="password" placeholder="Confirm password" name="confirmPassword" id="confirmPassword"
						onkeyup="confirmPassword()" />
				</div>
				<p class="err" id="error-confirmPassword" style="color: red;margin: 3% 0;">&nbsp;<%= data %></p>  

				<button class="loginBtn" type="submit">change<i class="fa-solid fa-arrow-right arrow"></i></button>
			</form>
		</div>
	</div>


	





	<script src="/javascripts/validation.js"></script>
	<script>
		const spinnerWrapperEl = document.querySelector('.spinner-wrapper')
		window.addEventListener('load', () => {
			setTimeout(() => {
				spinnerWrapperEl.style.display = 'none'
			}, 500)
		})

		document.getElementById('form-id').addEventListener('submit', event => {
			let isPasswordValid = validatePassword();
			let isConfirmPasswordValid = confirmPassword();
			if (!(isPasswordValid && isConfirmPasswordValid)) {
				event.preventDefault();
			}
		})

	</script>
</body>

</html>