<footer class="w-100 py-4 flex-shrink-0 container-fluid" style="background-color: #e9e9e9;">
    <div class="container py-4">
        <div class="row gy-4 gx-5">
            <div class="col-lg-4 col-md-6">
                <h5 class="h1 logo">Glosho.</h5>
                <p class="small text-muted">With every stylish stride</p>
                <!-- <p class="small text-muted mb-0">&copy; Copyrights. All rights reserved. <a class="" href="#">Nandhu</a></p> -->
            </div>
            <div class="col-lg-2 col-md-6">
                <h5 class="mb-3"></h5>
                <ul class="list-unstyled text-muted">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Get started</a></li>
                    <li><a href="#">FAQ</a></li>
                </ul>
            </div>
            <div class="col-lg-2 col-md-6">
                <h5 class="mb-3"></h5>
                <ul class="list-unstyled text-muted">
                    <li><a href="#">Contact</a></li>
                    <li><a href="#">Men</a></li>
                    <li><a href="#">Women</a></li>
                    <li><a href="#">All Products</a></li>
                </ul>
            </div>
            <div class="col-lg-4 col-md-6">
                <h5 class=" mb-3">Get In Touch</h5>
                <p class="small text-muted">Enter your valid email address for our daily updates and personal OFFERS</p>
                <form action="#">
                    <div class="input-group mb-3">
                        <input class="form-control" type="text" placeholder="Enter email" aria-label="Enter email" aria-describedby="button-addon2">
                        <button class="btn btn-primary" id="button-addon2" type="button"><i class="fas fa-paper-plane"></i></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
  </footer>
  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>

  <script src="javascripts/spinner.js"></script>
</body>

</html>