<footer class="w-100 py-4 flex-shrink-0 container-fluid" style="background-color: #e9e9e9;">
    <div class="container py-4">
        <div class="row gy-4 gx-5">
            <div class="col-lg-4 col-md-6">
                <h5 class="h1 logo">Glosho.</h5>
                <p class="small text-muted">With every stylish stride</p>
                <div class="d-inline-flex">
                    <a href="#"><img class="me-4" src="/images/icon/icons8-twitter-30.png" alt="twitter-logo" style="height: 23px;"></a>
                    <a href="#"><img class="me-4" src="/images/icon/icons8-dribble-30.png" alt="dribble-logo" style="height: 23px;"></a>
                    <a href="#"> <img class="me-4" src="/images/icon/icons8-behance-30.png" alt="behence-logo" style="height: 23px;"></a>
                  <a href="#"> <img src="/images/icon/icons8-instagram-30.png" alt="instagram-logo" style="height: 22px;"></a> 

                    

                </div>
            </div>
            <div class="col-lg-2 col-md-6">
                <h5 class="mb-3"></h5>
                <ul class="list-unstyled text-muted">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Get started</a></li>
                    <li><a href="#">FAQ</a></li>
                </ul>
            </div>
            <div class="col-lg-2 col-md-6">
                <h5 class="mb-3"></h5>
                <ul class="list-unstyled text-muted">
                    <li><a href="#">Contact</a></li>
                    <li><a href="#">Men</a></li>
                    <li><a href="#">Women</a></li>
                    <li><a href="#">All Products</a></li>
                </ul>
            </div>
            <div class="col-lg-4 col-md-6">
                <h5 class=" mb-3">Secure & Seamless</h5>
                <p class="small text-muted"> We understand the importance of providing a safe and hassle-free online payment </p>
                <img src="/images/icon/pngwing.com (1).png" alt="vis-mastercard-paypal-icon" width="70%">
            </div>
        </div>
    </div>
    <div style="border-top: 0.5px solid rgb(192, 192, 192);">
        <div class="container">
        <div class="d-flex justify-content-center align-items-center mt-4 mb-0">
            <p style="font-size: 14px;">© Copyright 2024 | All Right Received By <a href="">Nandhu</a>. Powered by Glosho.</p>
        </div>
    </div>
    </div>
  </footer>
  
  <script src="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.js"></script>
  <script>
    // Initialize AOS
    AOS.init();
</script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
  <script src="javascripts/spinner.js"></script>
</body>

</html>