<div class="container d-flex flex-column flex-sm-row justify-content-between pb-4 pt-4 border-top mt-5">

    <div class="">
          
        <a class="logo mt-3" href="#" style="color: black;">Glosho</a>
        <ul class="list-unstyled d-flex">
        <li class=""><a href="#"><i class="fa-brands fa-instagram" style="font-size: 1.5rem;"></i> </a></li>
        <li class="ms-3"><a href="#"><i class="fa-brands fa-whatsapp" style="font-size: 1.5rem;"></i> </a></li>
        <li class="ms-3"><a href="#"><i class="fa-brands fa-x-twitter" style="font-size: 1.5rem;"></i> </a></li>


        </ul>
        
      </div>


    <footer class="py-5">
      <div class="row">
        <div class="col-6 col-md-2 mb-3">
          <a href="/">Home</a>
          
        </div>
  
        <div class="col-6 col-md-2 mb-3">
            <a href="/">About</a>
            
          </div>
  
          <div class="col-6 col-md-2 mb-3">
            <a href="/">Contact</a>
            
          </div>

          <div class="col-6 col-md-2 mb-3">
            <a href="/">Men</a>
            
          </div>

          <div class="col-6 col-md-2 mb-3">
            <a href="/">Women</a>
            
          </div>

          <div class="col-6 col-md-2 mb-3">
            <a href="/">Collections</a>
            
          </div>
          <!-- <p class="text-end mt-2">Every steps tells a stylish story</p> -->
      </div>
  

    </footer>
  </div>

</body>

</html>