<%- include('userAfterLogin') %>


<div class="main-container d-flex flex-column" style="min-height: fit-content;">

    <div class="container mt-4" >
        <h2 class="heading">WALLET</h2>
    </div>
    <div class="container mb-5">
        <div class="row mt-5">
          <div class="col-md-6 offset-md-3">
            <div class="card">
              <div class="card-body">
                <div class="d-flex justify-content-between">
                <h3 class="head">hello <%= user.userName %>,</h3>
                <button class="normalBtn">Add Money</button>
            </div>
                <div  class="form-group mt-3 ">
                  <label>Wallet Balance</label> 


                <address><strong style="font-size: 32px;">$ <%= user.walletAmount %></strong></address> 
                </div>
                <div class="form-group">
                  <a href="/wallethistory">Wallet History &nbsp;<i class="fa-solid fa-wallet"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


</div>


<%- include('userFooter') %>