


.read-more-btn, .read-less-btn{
    background-color: transparent;
    border: none;
    outline: none;
    color: #8a8d93;
} 

i{
  color: #db6574;  
}
.cardHover{
  transition: 1s ease;
}
.cardHover:hover {
  background-color: #db6574; /* Change to the original color on hover */
}

